<table class="table table-warning table-bordered table-sm">
    <thead>
        <tr><h4>Entity Master</h4></tr>
    </thead>
    <tbody>
        <tr *ngFor="let entity of EntityList" style="background-color: rgb(241, 214, 146);">
            <td>{{entity.EntityName}}</td>
            <td>
                <button type="button" class="mx-1 btn btn-warning" style="float:right;">Edit</button>
                <button type="button" class="btn btn-warning mx-1" style="float:right;">Delete</button>    
            </td>            
        </tr>
    </tbody>
</table>