<form  class="form" (ngSubmit)="login()">  
<div class="row ">
<div class="col-md-4"> </div> 
<div class="d-flex container-fluid col-md-4 my-5" >      
            <div class="card" style="width:100%; box-shadow: rgba(197, 189, 113, 0.25) 0px 54px 55px, rgba(240, 186, 38, 0.12) 0px -12px 30px, rgba(243, 194, 60, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" >
                <div class="card-body">
                <div class="card-header bg-warning">            
                    <legend class>Sign In</legend>
                </div>
                       <br> 
                <!-- <div class="form-group"> -->
                <label name="uname">Username</label>

                
                <input type="text" class="form-control" name="UserID" [(ngModel)]="model.UserID" id="UserID"  
                aria-describedby="helpId" placeholder="Input Username">
                
              <!-- </div> -->
              <br>
              <div class="form-group">
                <label name="pass">Password</label>
                <input type="password" [(ngModel)]="model.Password" name="Password"
                 class="form-control" id="Password" placeholder="Input Password">                
              </div>
              <p>         
             <button class="btn btn-warning" style="position: relative; float:left;"  type="submit">Login</button>
             <button class="btn btn-warning mx-2" style="position: relative;"  type="submit">Sign Up</button>
            </p>
        </div>
         </div>                
    </div>
<div class="col-md-4">   
</div>
</div>
</form>







