<nav class="d-flex navbar navbar-expand navbar-light bg-warning" style="box-shadow: rgba(252, 232, 53, 0.25) 0px 54px 55px, rgba(240, 186, 38, 0.12) 0px -12px 30px, rgba(243, 194, 60, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
    <div class="nav navbar-nav">
        <a class="navbar-brand nav-link active" href="#">MyApp <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/login" >Sign In</a>
        <a class="nav-item nav-link" routerLink="/info" >User Information</a>
        <a class="nav-item nav-link" routerLink="/entity" >Entity Master</a>
        <a class="nav-item nav-link" routerLink="/facility" >Facility Master</a>
    </div>
</nav>